/* Main image */
.col-md-12 {
  padding: 0;
}
.main-image {
  background-image: url("../images/office/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main-image-text {
  background-color: rgba(254, 194, 12, 0.4);
  color: white;
  width: 16%;
  height: 3rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0rem;
  margin: 7.25rem 0;
}
.bottom {
  position: absolute;
  padding-bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 2rem;
}
/* Main image */
/* First text */
.first-text-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-text {
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  color: grey;
  font-size: 1.5rem;
}
/* First text */
/* Card images */
.col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
.image1 {
  background-image: url("../images/office/office1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 37.5%;
  padding-bottom: 37.5%;
  display: flex;
  justify-content: center;
}
.image2 {
  background-image: url("../images/office/office2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 100%;
  padding-bottom: 50%;
  display: flex;
  justify-content: center;
}
.image3 {
  background-image: url("../images/office/office3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 35%;
  padding-bottom: 35%;
  display: flex;
  justify-content: center;
}
.image4 {
  background-image: url("../images/office/office4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 35%;
  padding-bottom: 35%;
  display: flex;
  justify-content: center;
}
.image5 {
  background-image: url("../images/office/office5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 35%;
  padding-bottom: 35%;
  display: flex;
  justify-content: center;
}
/* Card images */
/* Bottom text */
.text-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  color: #606060;
}
.bot-text {
  padding: 0 4rem;
  font-size: 1.5rem;
}
/* First text */
@media (max-width: 1700px) {
  .main-image-text {
    padding: 8rem 0rem;
  }
}
@media (max-width: 1500px) {
  .main-image-text {
    padding: 7rem 0rem;
  }
}
@media (max-width: 1300px) {
  .main-image-text {
    padding: 6rem 0rem;
  }
}
@media (max-width: 1200px) {
  .bot-text {
    padding: 0 4rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 1100px) {
  .contact-text {
    padding: 5rem 1rem 1rem 2rem;
    height: 22rem;
  }
  .main-image-text {
    width: 30%;
  }
  .main-image-text {
    padding: 10rem 0rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 1000px) {
  .main-image-text {
    padding: 9rem 0rem;
  }
@media (max-width: 900px) {
  .bot-text {
    padding: 0 4rem;
    font-size: 0.9rem;
  }
  .main-image-text {
    padding: 8rem 0rem;
  }
}
@media (max-width: 780px) {
  .main-image-text {
    padding: 7.5rem 0rem;
  }
}
@media (max-width: 700px) {
  .text-block {
    padding: 2rem 0rem 1rem 0rem;
  }
  .bot-text {
    padding: 0 4rem;
    font-size: 0.7rem;
  }
  .main-image-text {
    padding: 6rem 0rem;
  }
}
@media (max-width: 600px) {
  .full-width-image img {
    height: 20rem;
  }
  .bottom {
    width: 1.5rem;
    padding-bottom: 3rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  .main-image-text {
    padding: 6rem 0rem;
    font-size: 1.5rem;
    width: 35%;
  }
}
@media (max-width: 578px) {
  .bot-text {
    padding: 2rem 1rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    width: 12rem;
  }
  .main-image-text {
    width: 40%;
    padding: 5rem 0;
    font-size: 1.2rem;
  }
}
.col-md-4 {
  padding: 0 0;
}
.col-md-8 {
  padding: 0 0;
}
