/* Main image */
.col-md-12 {
  padding: 0;
}
.main-image {
  background-image: url("../images/office/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main-image-text {
  background-color: rgba(245, 196, 69, 0.7);
  color: white;
  width: 30%;
  height: 3rem;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 2rem;
  margin: 12rem 0;
}
.bottom {
  position: absolute;
  padding-bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 2rem;
}
/* Main image */
/* First text */
.first-text-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-text {
  text-align: center;
  padding: 2rem 0 1rem 0;
  color: grey;
}
/* First text */
/* Card images */
.col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
.image1 {
  background-image: url("../images/office/office1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 55rem;
}
.image2 {
  background-image: url("../images/office/office2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 55rem;
}
.image3 {
  background-image: url("../images/office/office3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 50rem;
}
.image4 {
  background-image: url("../images/office/office4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 50rem;
}
.image5 {
  background-image: url("../images/office/office5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 50rem;
}
/* Card images */
/* Bottom text */
.bottom-text-container {
  padding: 2rem 0 4rem 0;
}
.bot-text-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot-text {
  text-align: center;
  color: grey;
  margin-bottom: 0;
}
.bottom-orange {
  position: absolute;
  padding-bottom: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 3rem;
}
/* First text */
@media (max-width: 1000px) {
  .contact-text {
    padding: 5rem 1rem 1rem 2rem;
    height: 22rem;
  }
  .main-image-text {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .text-block {
    padding: 2rem 0rem 1rem 0rem;
  }
}
@media (max-width: 600px) {
  .full-width-image img {
    height: 20rem;
  }
  .bottom {
    width: 1.5rem;
    padding-bottom: 3rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  .main-image-text {
    padding: 6rem 2rem;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    width: 12rem;
  }
  .main-image-text {
    width: 60%;
  }
}
.col-md-4 {
  padding: 0 0;
}
.col-md-8 {
  padding: 0 0;
}
