/* Main image */
.col-md-12 {
  padding: 0;
}
.main-image {
  background-image: url("../images/parents/parents.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main-image-text {
  background-color: rgba(254, 194, 12, 0.4);
  color: white;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.8099rem 2rem;
  margin: 8.3rem 0;
}
.text-row {
  margin-top: 2rem;
}
.word-spaces {
  word-spacing: 1rem;
}
.bottom {
  position: absolute;
  padding-bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 2rem;
}
/* Main image */
.text {
  text-align: justify;
  text-justify: inter-word;
  color: grey;
  line-height: 1.6;
}
.upper-down-text {
  text-align: justify;
  text-justify: inter-word;
  color: grey;
  line-height: 1.6;
}
.down-text {
  font-size: 1.5rem;
  color: #606060;
  line-height: 1.6;
}
#contact {
  margin-top: 1.5rem;
}
@media (max-width: 1000px) {
  .text {
    padding: 1rem 1rem;
  }
  .upper-down-text {
    padding: 0 1rem;
  }
  .down-text {
    padding: 0 1rem;
  }
}
