/* Main image */
.col-md-12 {
  padding: 0;
}
.main-image {
  background-image: url("../images/psychotherapy_internet/psychotherapy_internet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main-image-text {
  background-color: rgba(254, 194, 12, 0.4);
  color: white;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.3rem 2rem;
  margin: 8.75rem 0;
}
.bottom {
  position: absolute;
  padding-bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 2rem;
}
/* Main image */
.text {
  padding: 2rem 20rem;
  text-align: justify;
  text-justify: inter-word;
  color: grey;
  line-height: 1.6;
}
@media (max-width: 1000px) {
  .text {
    padding: 1rem 1rem;
  }
  .main-image {
    background-position: 32% 0%;
  }
}
