/* Main image */
.col-md-12 {
  padding: 0;
}
.main-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main-image-text {
  background-color: rgba(254, 194, 12, 1);
  color: white;
  width: 100%;
  height: 100%;
  font-size: 2.3rem;
  display: initial;
  padding: 13.4rem 2rem 14rem 2rem;
  margin: 0 0;
}
.bottom-top {
  position: absolute;
  padding-bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 2rem;
}
.bottom {
  position: absolute;
  padding: 2rem 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 2rem;
}
.main-image-text h3 {
  margin-bottom: 0;
  font-size: 3rem;
}
.up-quote {
  width: 3rem;
  margin-right: 24rem;
}
.down-quote {
  width: 3rem;
  margin-left: 27rem;
  margin-bottom: 2rem;
}
/* Main image */
.text {
  text-align: justify;
  text-justify: inter-word;
  color: grey;
  line-height: 1.6;
}
.upper-down-text {
  text-align: justify;
  text-justify: inter-word;
  color: grey;
  line-height: 1.6;
}
.down-text {
  font-size: 1.5rem;
  color: #606060;
  line-height: 1.6;
}
#text {
  margin-top: 1rem;
}
.text-row {
  margin-top: 1rem;
}
.text-row-top {
  margin-top: 3rem;
}
@media (max-width: 1000px) {
  .text {
    padding: 1rem 1rem;
  }
  .upper-down-text {
    padding: 0 1rem;
  }
  .down-text {
    padding: 0 1rem;
  }
  .submit-button {
    width: 100%;
  }
  .bio-text {
    padding: 0 2rem;
  }
  .bio-title-text {
    padding: 0 2rem;
  }
  .bio-subtitle-text {
    padding: 0 2rem;
  }
  .areti_tsanaktsidi {
    padding-bottom: 30rem;
  }
}
@media (max-width: 930px) {
  .up-quote {
    width: 1.5rem;
    margin-right: 13rem;
    padding-top: 2rem;
  }
  .main-image-text h3 {
    font-size: 1.5rem;
  }
  .down-quote {
    width: 1.5rem;
    margin-left: 14rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .bio-text {
    padding: 0 0.1rem;
  }
  .bio-title-text {
    padding: 0 0.1rem;
  }
  .bio-subtitle-text {
    padding: 0 0.1rem;
  }
}
/* Biography */
