html {
  scroll-behavior: smooth;
}
body {
  font-family: "PFDinTextW01-Light";
  font-size: 1.5rem;
}
.submenu a {
  text-decoration: none;
  color: black;
}
.submenu a:hover {
  color: white;
  text-decoration: none;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.col-md-4 {
  padding: 0 0;
}
.col-md-5 {
  padding: 0 0;
}
.col-md-8 {
  padding: 0 0;
}
/* Navbar */
.navbar {
  background-color: #fff;
  padding: 0rem;
}
.navbar-brand {
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 20rem;
}
.navbar-toggler {
  margin-right: 1rem;
}
.mr-auto {
  padding-left: 1rem;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.nav-item .active .dropdown {
  color: #f5c445;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.specialty {
  text-align: center;
}
.form-inline {
  margin-right: 1rem;
}
.nav-item {
  margin-right: 1rem;
}
.dropdown-menu {
  min-width: 21rem;
}
.submenu-text {
  margin: 0 1rem;
  font-size: 1.5rem;
}
.submenu:hover {
  background-color: #f5c445;
  color: white !important;
}
.submenu-active {
  background-color: #f5c445;
}
.submenu-text-active {
  color: white !important;
}
/* Navbar */
/* Contact */
.contact {
  background-color: #f5c445;
}
.contact-text {
  padding: 7.5rem 1rem 1rem 2rem;
  height: 22rem;
}
/* Contact */
@media (max-width: 1000px) {
  .contact-text {
    padding: 5rem 1rem 1rem 2rem;
    height: 22rem;
  }
  .specialty {
    text-align: left;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    width: 12rem;
  }
}
