html {
  scroll-behavior: smooth;
}
body {
  font-size: 1rem;
  font-family: Manrope;
}
/* @font-face {
  font-family: "PFDinTextW01-Light";
  src: url("//db.onlinewebfonts.com/t/46efc005525717fd84152cbf70f4de41.eot");
  src: url("//db.onlinewebfonts.com/t/46efc005525717fd84152cbf70f4de41.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/46efc005525717fd84152cbf70f4de41.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/46efc005525717fd84152cbf70f4de41.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/46efc005525717fd84152cbf70f4de41.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/46efc005525717fd84152cbf70f4de41.svg#PFDinTextW01-Light")
      format("svg");
} */
.submenu a {
  text-decoration: none;
  line-height: 1.2;
  color: grey;
  margin: 0.5rem 1rem;
}
.submenu a:hover {
  color: white;
  text-decoration: none;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.col-md-4 {
  padding: 0 0;
}
.col-md-5 {
  padding: 0 0;
}
.col-md-8 {
  padding: 0 0;
}
/* Navbar */
.navbar {
  background-color: #fff;
  padding: 0rem;
}
.navbar-brand {
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 20rem;
}
.navbar-toggler {
  margin-right: 1rem;
}
.mr-auto {
  padding-left: 1rem;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.nav-item .active .dropdown {
  color: #fec20c;
}
.dropdown {
  display: flex;
  justify-content: center;
}
.navbar-light .navbar-nav .nav-link {
  color: grey;
}
.specialty {
  text-align: center;
}
.nav-item {
  margin-right: 3.2rem;
}
h3 {
  font-size: 1.2rem;
}
.dropdown-menu {
  min-width: 12srem;
  background-color: #fec20c;
  color: white;
  padding: 0rem 0;
  left: auto;
  margin-right: 0;
}
.submenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  border-top: 1px solid white;
  margin: 0;
}
.submenu a {
  color: white;
}
.brs-not {
  display: none;
}
.submenu-text {
  margin: 0 1rem;
  font-size: 1.1rem;
  text-align: center;
}
.submenu:hover {
  background-color: orange;
  color: white !important;
}
.submenu-active {
  background-color: orange;
}
.submenu-text-active {
  color: white !important;
}
/* Navbar */
/* Contact */
.contact {
  background-color: #fec20c;
}
.contact-text {
  padding: 2.5rem 1rem 1rem 2rem;
  height: 22rem;
}
.address {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social-images {
  width: 1.2rem;
}
.connect-us {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.down-text-no-line-top {
  font-size: 1.5rem;
  color: #606060;
  margin-top: 1.2rem;
  line-height: 0.8;
}
.down-text-no-line-bottom {
  font-size: 1.5rem;
  color: #606060;
  margin-bottom: 1.2rem;
  margin-top: 0.8rem;
  line-height: 0.8;
}
/* Contact */
@media (max-width: 1000px) {
  .contact-text {
    padding: 5rem 1rem 1rem 2rem;
    height: 22rem;
  }
  .specialty {
    text-align: left;
  }
  .down-text-no-line-top {
    padding: 0 1rem;
    line-height: 1;
  }
  .down-text-no-line-bottom {
    padding: 0 1rem;
    line-height: 1;
  }
}
@media (max-width: 992px) {
  .dropdown {
    display: block;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .hashline {
    display: none;
  }
  .brs-not {
    display: initial;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    width: 12rem;
  }
}
