html {
  scroll-behavior: smooth;
}
body {
  font-family: "PF Din Text Comp Pro Light";
  font-size: 1.5rem;
}
/* Navbar */
.navbar {
  background-color: #fff;
  padding: 0rem;
}
.navbar-brand {
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 20rem;
}
.navbar-toggler {
  margin-right: 1rem;
}
.mr-auto {
  padding-left: 1rem;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #fec20c;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.form-inline {
  margin-right: 1rem;
}
/* Navbar */
/* Main image */
.full-width-image {
  width: 100%;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  padding: 0px;
}
.full-width-image img {
  width: 100%;
  height: 40rem;
}
.bottom {
  position: absolute;
  padding-bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 3rem;
}
/* Main image */
/* Card images */
.col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}
.back-1 {
  background-image: url("images/image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 30%;
  padding-bottom: 30%;
  display: flex;
  justify-content: center;
}
.back-2 {
  background-image: url("images/image2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 30%;
  padding-bottom: 30%;
  display: flex;
  justify-content: center;
}
.back-3 {
  background-image: url("images/image3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 30%;
  padding-bottom: 30%;
  display: flex;
  justify-content: center;
}
.back-4 {
  background-image: url("images/image4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 30%;
  padding-bottom: 30%;
  display: flex;
  justify-content: center;
}
.card-text {
  background-color: #fec20c;
  opacity: 0.8;
  color: white;
  width: 40%;
  height: 6rem;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;
}

/* Card images */
/* Biography */
.biography {
  background-color: #d5d5d5;
}
.biography-text {
  padding: 4rem;
}
.white-line {
  height: 3rem;
}
.bottom-orange {
  position: absolute;
  padding-bottom: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 3rem;
}
/* Biography */
/* Contact */
.contact {
  background-color: #fec20c;
}
.contact-text {
  padding: 7.5rem 1rem 1rem 2rem;
  height: 22rem;
}
.map {
  height: 22rem;
}
/* Contact */
@media (max-width: 1000px) {
  .contact-text {
    padding: 5rem 1rem 1rem 2rem;
    height: 22rem;
  }
}
@media (max-width: 700px) {
  .text-block {
    padding: 2rem 0rem 1rem 0rem;
  }
}
@media (max-width: 600px) {
  .full-width-image img {
    height: 20rem;
  }
  .bottom {
    width: 1.5rem;
    padding-bottom: 3rem;
  }
  h4 {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    width: 12rem;
  }
}
.col-md-4 {
  padding: 0 0;
}
.col-md-8 {
  padding: 0 0;
}
