body {
  font-family: "PF Din Text Comp Pro Light";
  font-size: 1.5rem;
}
/* Navbar */
.navbar {
  background-color: #fff;
  padding: 0rem;
}
.navbar-brand {
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 20rem;
}
.navbar-toggler {
  margin-right: 1rem;
}
.mr-auto {
  padding-left: 1rem;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #fec20c;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.form-inline {
  margin-right: 1rem;
}
/* Navbar */
/* Main image */
.col-md-12 {
  padding: 0;
}
.main-image {
  background-image: url("images/office/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main-image-text {
  background-color: rgba(245, 196, 69, 0.7);
  color: white;
  width: 40%;
  height: 3rem;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 2rem;
  margin: 12rem 0;
}
.bottom {
  position: absolute;
  padding-bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 2rem;
}
/* Main image */
/* First text */
.first-text-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-text {
  text-align: center;
  padding: 2rem 0;
  color: grey;
}
/* First text */
/* Contact */
.contact {
  background-color: #fec20c;
}
.contact-text {
  padding: 7.5rem 1rem 1rem 2rem;
  height: 22rem;
}
.map {
  height: 22rem;
}
/* Contact */
@media (max-width: 1000px) {
  .contact-text {
    padding: 5rem 1rem 1rem 2rem;
    height: 22rem;
  }
}
@media (max-width: 700px) {
  .text-block {
    padding: 2rem 0rem 1rem 0rem;
  }
}
@media (max-width: 600px) {
  .full-width-image img {
    height: 20rem;
  }
  .bottom {
    width: 1.5rem;
    padding-bottom: 3rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  .main-image-text {
    height: 1.5rem;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    width: 12rem;
  }
}
.col-md-4 {
  padding: 0 0;
}
.col-md-8 {
  padding: 0 0;
}
