html {
  scroll-behavior: smooth;
}
/* Navbar */
.navbar {
  background-color: #fff;
  padding: 0rem;
}
.navbar-brand {
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 20rem;
}
/* Navbar */
/* Main image */
.full-width-image {
  width: 100%;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  padding: 0px;
}
.full-width-image img {
  width: 100%;
  height: 40rem;
}
.bottom {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 3rem;
}
/* Main image */
/* Main page - Card images */
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}
.card-deck {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}
.card-deck .card {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
}
.card img {
  width: 100%;
}
.card-style {
  margin: 4% 1% 0% 0%;
  background-color: white;
}
.container {
  position: relative;
  font-family: Arial;
}
.text-block {
  position: absolute;
  right: 30%;
  top: 25%;
  background: rgb(255, 140, 0, 0.5);
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 50%;
  text-align: center;
  padding: 7rem 2rem 5rem 2rem;
}
@media (max-width: 600px) {
  .full-width-image img {
    height: 20rem;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    width: 15rem;
  }
}
