.bg-dark {
  background-color: none !important;
}

.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

.nav-item {
  font-size: 1.2rem;
  font-weight: bold;
}

.full-width-image img {
  width: 100%;
}
